
/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
.font-inter{
  font-family: 'Inter', sans-serif;
}
html, body, #root, #root>div {
  margin: 0;
  height: 100%;
  width: 100%
}

/* scrollbar for primary panel */
#primary-panel::-webkit-scrollbar {
  display: none;
}
/* custom scrollbar */
#secondary-panel::-webkit-scrollbar {
  -webkit-appearance: none;
}
#secondary-panel::-webkit-scrollbar:vertical {
  width: 3px;
}
#secondary-panel::-webkit-scrollbar:horizontal {
  height: 10px;
}
#secondary-panel::-webkit-scrollbar-thumb {
  background-color: #CCCCCC;
  border-radius: 10px;
  border: 1px solid #CCCCCC;
  height: 100px;
}
#secondary-panel::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #18191B;
}

/* chat bubble arrow for templates */
.chat-bb-temp:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #5E60CE;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  left: -19px;
  top: 45%;
}


input[type=range] {
  /* -webkit-appearance: none; */
  background-color: silver;
  height:5px;
}

input[type="range"]::-webkit-slider-thumb {
  cursor: pointer;
  -webkit-appearance: none;
  background-color: #ffffff;
  border: 3px solid #7400B8;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

/* color piocker */
.react-colorful {
  width: 230px !important;
  height: 170px !important;
  border-radius: 0px !important;
  
}
.react-colorful__saturation {
  border-radius: 0px !important;
}
.react-colorful__hue{
  height: 8px !important;
  margin-top: 20px !important;
  border-radius: 8px !important;
  cursor: pointer;

}
.react-colorful__pointer{
  border : 3px solid white !important;
  cursor: pointer;
  width: 22px !important;
  height: 22px !important;
}
.react-colorful__hue-pointer {
  width: 5px !important;
  height: 13px !important;
  border-radius: 5px !important;
  background-color: #BDBDBD !important;
  cursor: pointer;
  /* border-radius: 50% !important;
  border: 2px solid #7400B8 !important;
  box-shadow: 0 0 0 1px #fff !important; */
}
.react-colorful__hue-pointer  .react-colorful__pointer-fill{
  background-color: #BDBDBD !important;
  /* border: 2px solid #BDBDBD !important; */
}
.react-colorful__interactive .react-colorful__pointer{
  /* border : none !important; */
}




/* selector stuff */
.moveable-control-box{
  --moveable-color: #7400B8 !important;
}
.moveable-control {
  border-color: black  !important;
  border-width: .5px !important;
  background-color: white !important;
  width: 18px;
  height: 18px;
}
.moveable-s, .moveable-n, .moveable-origin{
  opacity: 0 !important;
} 
.moveable-e, .moveable-w{
 margin-top: -14px !important;
 margin-left: -6px !important;
  width: 12px !important;
  height: 38px !important;
 border-radius: 10px !important;
} 
.moveable-line{
  height: 3px !important;
}
/* chnage opacity to show rotate option */
.moveable-rotation{
  /* (x-40) x:moveable-rotation-line height  */
  bottom: -10px !important;
  opacity: 0;

}
.moveable-rotation-line{
  height: 30px !important;
  width: 3px !important;
  opacity: 0;
}
.moveable-rotation-control{
  margin-left: -6px !important; 
  opacity: 0;
}
#secondary-panel input[type="range"]{
  background-color: #7400B8;
}